html {
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

.article {
  max-width: 700px;
  margin: 70px auto;
  padding: 40px;

  transform: scale(0.98);
  transition: transform .5s;

  background: #fff;
  text-align: justify;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, .2);
}

.fixed-nav .article {
  transform: scale(1);
}

.header {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__title {
  margin-bottom: 20px;

  color: #000;
  font-size: 7vw;
  text-shadow: 4px 4px 0 rgba(0,0,0,.4)
}

.header__desc {
  margin-top: 0;
}

.nav {
  position: relative;
  top: 0;
  z-index: 1;

  width: 100%;

  transition: all 0.5s;
  background: #000;
}

.fixed-nav .nav {
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, .1);
}

.nav__list {
  display:flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav__item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.nav__link {
  display: inline-block;
  padding: 20px;

  transition: all 0.2s;

  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.logo .nav__link  {
  color: #000;
  font-size: 2vw;
  font-weight: bold;
}

.logo {
  transform: translateX(-500px);
  transition: all .5s;

  background: #fff;
}

.fixed-nav .logo {
  transform: translateX(0);
}

.article__title {
  margin-bottom: 0;
  font-size: 3vw;
}

.article__credits {
  color: #000;
  font-size: 1.4vw;
  text-decoration: none;
}

.article__subtitle {
  font-size: 2vw;
}

.article__subQuest {
  font-size: 1.6vw;
}

.article__p {
  font-size: 1.4vw;
  line-height: 1.6vw;
}
